.about-section {
  padding: 6rem 2rem;
  .recommendations-wrapper {
    font-size: clamp(1.6rem, 3vw, 1.8rem);
    color: lightgray;
    overflow: hidden;
    display: grid;
    gap: 2.5rem;

    @include for-size(tablet-portrait-up) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include for-size(desktop-up) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .span-2 {
    @include for-size(desktop-up) {
      grid-column: span 2;
    }
  }

  .recommendations-item:last-child {
    @include for-size(tablet-portrait-up) {
      grid-column: span 2;
    }

    @include for-size(desktop-up) {
      grid-column-start: 4;
      grid-row: 1 / span 2;
    }
  }
  .recommendations-item {
    padding: max(3vw, 1.6rem);
    border-radius: 2rem;
    box-shadow: 0 0.1rem 0.6rem $shadow;
  }

  .profile-img {
    max-width: 7rem;
    border-radius: 50%;
  }

  .joy-bg {
    background-color: $violet;
  }

  .cams-bg {
    background-color: $dark-red;
  }

  .chelz-bg {
    background-color: $brown;
  }
  .maridin-bg {
    background-color: $black;
  }
  .karen-bg {
    background-color: $red;
  }

  .jerry-bg {
    background-color: $dark-blue;
  }

  .basti-bg {
    background-color: $dark-green;
  }

  .name-container,
  .remarks-container {
    font-weight: bold;
    color: $white;
  }

  .remarks-container {
    font-size: clamp(1.8rem, 4vw, 2.2rem);
    margin-bottom: 1rem;
  }

  .expanded-remarks {
    line-height: 1.5;
  }

  .job-position {
    font-size: clamp(1.4rem, 3vw, 1.6rem);
  }

  .profile-info-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
  }

  .profile-info {
    margin-left: 2rem;
  }
}
