.example-container {
  text-align: center;
  height: 100vh;

  h1 {
    background-color: $gray;
  }

  .sidebar-container {
    background-color: $red;
  }
  .content-container,
  .sidebar-container {
    color: $white;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-weight: bold;
    @include for-size(desktop-up) {
      height: 90vh;
    }
  }

  .content-container {
    background-color: $green;
    @media (min-width: 1200px) {
      float: left;
      width: 70%;
    }
  }
}
